Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

ErrorDocument 404 /cs3382/index.html

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !/api
RewriteRule ^.*$ - [NC,L]

# otherwise forward it to index.html
#RewriteRule ^.*$ - [NC,L]
RewriteRule ^/(.*) /cs3382/$1 [NC,L]