<!DOCTYPE html>
<!--Set the base url in /js/boot.js and /js/boot.ie.js-->
<html lang="en" class="no-js" id="ng-app">
<!--All tags need to hardcode baseURL since main.js is not loaded yet-->
<head ng-controller="HeadController">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <meta name="description"
          content="This is personal page of Howard Leung. He is currently an Assistant Professor in the Department of Computer Science at City University of Hong Kong."/>
    <meta name="keywords" content="howard leung, motion lab, mocap, chinese learning, vache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/head-1.0.3.load.min.js"></script>
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/vendor/skroller/skroller-0.6.22.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/vendor/4ie/ie9.min.js"></script>
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/vendor/4ie/html5shiv.min.js"></script>
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/vendor/selectivizr/selectivizr-1.0.2.min.js"></script>
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/vendor/4ie/css3-multi-column.js"></script>
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/vendor/4ie/flexie.js"></script>
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/vendor/4ie/json3.min.js"></script>
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/vendor/skroller/skroller-1.0.2.ie.min.js"></script>
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/vendor/4ie/respond.min.js"></script>
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/boot.ie.js"></script><![endif]--><!--[if lte IE 8]>
    <script>document.createElement('ng-include');
    document.createElement('ng-pluralize');
    document.createElement('ng-view');
    // Optionally these for CSSdocument.createElement('ng:include');document.createElement('ng:pluralize');document.createElement('ng:view');</script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
    <script type="text/javascript" src="/CityU/ShushBoilplate/js/boot.js"></script>
    <!--<![endif]-->
    <link rel="stylesheet" href="/CityU/ShushBoilplate/css/3382/main.css"/>
    <link rel="stylesheet" href="/CityU/ShushBoilplate/css/3382/ie/10.css"/>
    <link rel="stylesheet" href="/CityU/ShushBoilplate/css/3382/ie/11.css"/>
    <!--[if IE 9 ]>
    <link rel="stylesheet" href="/CityU/ShushBoilplate/css/3382/ie/9.css"/> <![endif]--><!--[if IE 8 ]>
    <link rel="stylesheet" href="/CityU/ShushBoilplate/css/3382/ie/8.css"/> <![endif]--><!--[if lt IE 7 ]>
    <link rel="stylesheet" href="/CityU/ShushBoilplate/css/3382/outdatedIE.css"/> <![endif]-->
	<title>{{ title }}</title>
</head>
<body>
<section class="content-block">
    <h1>Title</h1>
    <ul>
        <li><span>Client: </span><span class="html-vg"></span><span>City University of Hong Kong Press Ltd.</span></li>
        <li><span>Category: </span><span class="html-vg"></span><span>iBook Author Widget</span></li>
        <li><span>Technology used: </span><span class="html-vg"></span><span>HTML, CSS, jQuery</span></li>
    </ul>
    <section>
        <h2>Description: </h2>
        <article>item.description</article>
    </section>
</section>

<!--<section class="content-block">-->
    <!--<h1></h1>-->
    <!--<ul>-->
        <!--<li><span>Client: </span><span>{{ item.client }}</span></li>-->
        <!--<li><span>Category: </span><span>{{ item.category }}</span></li>-->
        <!--<li><span>Technology used: </span><span>{{ item.technology }}</span></li>-->
    <!--</ul>-->
    <!--<section>-->
        <!--<h2>Description: </h2>-->
        <!--<article>{{ item.description }}</article>-->
    <!--</section>-->
<!--</section>-->


<!--
<div data-flex-background-src="/CityU/ShushBoilplate/img/background.jpg" flex-background></div>
<section class="voiceCommand" ng-if="showHints" style="display: none">
    <section class="wrap">
        <button ng-click="showHints = false">Dismiss</button>
        <h1>Voice Commands</h1>

        <p>If you are using browser support HTML5 Speech Recognition API, you may use the following voice commands
            tobrowse our site by giving commands via microphone device. <br/> The following list is commands available:
        </p>
        <ul>
            <li>Show: Show all commands available to call.</li>
            <li>Hide: Hide all commands available to call.</li>
            <li>Switch to ***: Switch to other page.</li>
        </ul>
    </section>
</section>
<section id="skrollr-body">
    <header class="head" set-to-win-h="0" show-selected-when-hover="{'show': 'nav'}"
            ng-controller="NavigationController">
        <nav>
            <ul>
                <li ng-repeat="nav in navs" fix-anchor-tag>
                    <section class="item">
                        <section class="wrap"><a href="{{ baseURL }}{{ nav.href }}">{{ nav.title }}</a></section>
                        <section class="background"></section>
                    </section>
                    <section class="nav-list">
                        <ul ng-if="nav.subNav.length >0">
                            <li ng-repeat="subNav in nav.subNav" fix-anchor-tag>
                                <section class="item">
                                    <section class="wrap"><a href="{{ baseURL }}{{ nav.href }}{{ subNav.href }}">{{
                                        subNav.title }}</a></section>
                                    <section class="background"></section>
                                </section>
                            </li>
                        </ul>
                    </section>
                </li>
            </ul>
        </nav>
    </header>
    <section ui-view class="showExpand" id="mainContent"></section>
</section>

-->
<script type="text/javascript">
    if (!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)) {
        window.skrollrRef = skrollr.init({forceHeight: true, smoothScrolling: true});
    } else {
        window.skrollrRef = skrollr.init().destroy();
    }
</script>
</body>
</html>


<!--section.content-block>(ul.thumb-info>li*3>span*2)+section.content-body>h2+article-->
