.content-block {
    font-family: Arial, san-serif;
    display: table;
    border-left: 3px black solid;
    margin-left: 10px;

    h1 {
        font-size: 36pt;
        border-bottom: 1px black solid;
        padding: 5px 10px 0;
    }

    ul {
        display: table;
        padding: 5px 10px 0;
        li {
            float: left;
            position: relative;
            margin-right: 20px;
            display: table-cell;

            span {
                font-size: 16pt;

                &:first-child {
                    font-size: 8pt;
                    vertical-align: top;
                    color: #bbb;
                }

                &.html-vg{
                    border: 1px red solid;
                    -webkit-transform: skewX(-30deg);
                    transform: skewX(-20deg);
                    display: inline-block;
                    height: 17px;
                    margin-right: 5px;
                }
            }
        }
    }

    section {
        padding: 5px 10px 0;
        h2 {
            font-size: 20pt;
        }
        article {
            font-size: 12pt;
            line-height: 1.3em;
        }
    }
}