/* Webfont: SourceSansPro-ExtraLight */
@font-face {
  font-family: 'SourceSansProExtraLight';
  src: url("/web/css/font/fontface/SourceSansPro-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: url("/web/css/font/fontface/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/web/css/font/fontface/SourceSansPro-ExtraLight.woff") format("woff"), url("/web/css/font/fontface/SourceSansPro-ExtraLight.ttf") format("truetype"), url("/web/css/font/fontface/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
